<!-- Views/CommandInjection/Index.cshtml -->

<h1>Command Injection</h1>

<form method="post" action="/CommandInjection/ExecuteCommand">
    <label for="command">Enter a command:</label><br>
    <input type="text" id="command" name="command"><br><br>
    <button type="submit">Execute</button>
</form>
