<!-- Views/UrlData/Index.cshtml -->
<form action="/UrlData/SubmitUrl" method="post">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" required><br>
    <button type="submit">Submit</button>
   
</form>
